@tailwind base;
@tailwind components;
@tailwind utilities;

#nprogress .bar {
  background: #000 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #000, 0 0 5px #000;
}

#nprogress .spinner-icon {
  border-top-color: #000;
  border-left-color: #000;
}

/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
